@model CreditMarket.ViewModels.ApprovedOrderFormViewModel
@{
    ViewBag.Title = "Перегляд позик";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Перегляд позик</h2>
@using (Html.BeginForm("DetailedInfo", "ApprovedOrders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="UnionName">Кредитна спілка</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.UnionName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="Amount">Сума кредиту</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.Amount, new { @class = "form-control", @readonly = "readonly" })

    </div>
    <div class="form-group">
        <label for="LoanPeriod">Термін кредиту</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.LoanPeriod, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="LastName">Прізвище</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.LastName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="FirstName">Ім'я</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.FirstName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="FathersName">По-батькові</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.FathersName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="DateOfBirth">День народження</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.DateOfBirth, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="Email">E-mail</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.Email, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Мобільний номер</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="INN">ІНН</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.INN, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="CardNumber">Номер картки</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.CardNumber, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="PassportNumber">Серія та номер паспорта</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.PassportNumber, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="PassportGivenByWhom">Ким виданий паспорт</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.PassportGivenByWhom, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="PassportGivenDate">Коли виданий паспорт</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.PassportGivenDate, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label for="ApprovedDate">Дата підтвердження</label>
        @Html.TextBoxFor(x => x.ApprovedOrder.ApprovedDate, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
    </div>
    <br>
    <div class="button-group">
        <input type="button" value="Закрити" class="btn btn-danger" onclick="location.href='@Url.Action("Index","ApprovedOrders")';" />
    </div>
    @Html.HiddenFor(x => x.ApprovedOrder.Id)
    @Html.AntiForgeryToken()
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}