@model CreditMarket.ViewModels.OrderFormViewModel
@{
    ViewBag.Title = "Заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Створення заявки</h2>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/redmond/jquery-ui.css" rel="stylesheet" />
@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">

        $(function () {
            $('.datepicker1').datepicker({
                dateFormat: 'dd-mm-yy',
                maxDate: "-18y",
                minDate: "-75y"
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('.datepicker2').datepicker({
                dateFormat: 'dd-mm-yy',
                maxDate: "-1d",
                minDate: "-30y"
            });
        });
    </script>

    <script>
        document.getElementById("Order_Amount").value = localStorage.getItem("amountValue");
    </script>
}


@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Усі поля обов'язкові.")
    <div class="form-group">
        <label for="Amount">Сума кредиту</label>
        @Html.TextBoxFor(x => x.Order.Amount, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Order.Amount)
    </div>
    <div class="form-group">
        <label for="Order.LoanId">Кредит</label>
        @Html.DropDownListFor(x => x.Order.LoanId, new SelectList(Model.Loan, "Id", "Name"), "Select Loan", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.LoanId)
    </div>
    <div class="form-group">
        <label for="LastName">Прізвище</label>
        @Html.TextBoxFor(x => x.Order.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.LastName)
    </div>
    <div class="form-group">
        <label for="FirstName">Ім'я</label>
        @Html.TextBoxFor(x => x.Order.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.FirstName)
    </div>
    <div class="form-group">
        <label for="FathersName">По-батькові</label>
        @Html.TextBoxFor(x => x.Order.FathersName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.FathersName)
    </div>
    <div class="form-group">
        <label for="Date OfBirth">День народження</label>
        @Html.TextBoxFor(x => x.Order.DateOfBirth, "{0:dd-mm-yyyy}", new { @class = "form-control datepicker1", placeholder = "Введіть дату народження" })
        @Html.ValidationMessageFor(x => x.Order.DateOfBirth)
    </div>
    <div class="form-group">
        <label for="Email">E-mail</label>
        @Html.TextBoxFor(x => x.Order.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.Email)
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Мобільний номер</label>
        @Html.TextBoxFor(x => x.Order.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.PhoneNumber)
    </div>
    <div class="form-group">
        <label for="INN">ІНН</label>
        @Html.TextBoxFor(x => x.Order.INN, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.INN)
    </div>
    <div class="form-group">
        <label for="PassportNumber">Серія та номер паспорта</label>
        @Html.TextBoxFor(x => x.Order.PassportNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.PassportNumber)
    </div>
    <div class="form-group">
        <label for="PassportGivenByWhom">Ким виданий паспорт</label>
        @Html.TextBoxFor(x => x.Order.PassportGivenByWhom, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.PassportGivenByWhom)
    </div>
    <div class="form-group">
        <label for="PassportGivenDate">Коли виданий паспорт</label>
        @Html.TextBoxFor(x => x.Order.PassportGivenDate, "{0:dd-mm-yyyy}", new { @class = "form-control datepicker2", placeholder = "Введіть дату видачі паспорту" })
        @Html.ValidationMessageFor(x => x.Order.PassportGivenByWhom)
    </div>
    <div class="form-group">
        <div class="editor-label">Завантажити фото Паспорта</div>
        <div class="editor-field">
            <input type="file" name="uploadPassportImage" />
        </div>
    </div>
    <div class="form-group">
        <div class="editor-label">Завантажити Ідентифікаційний код</div>
        <div class="editor-field">
            <input type="file" name="uploadINNImage" />
        </div>
    </div>

    @Html.HiddenFor(x => x.Order.CreationDate, new { @Value = DateTime.Now.ToString("dd/MM/yyyy") })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Створити заявку</button>
}


