@model CreditMarket.ViewModels.OrderFormViewModel
@{
    ViewBag.Title = "Заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*--thank you pop starts here--*/
    .d-block {
        display: block !important;
    }

    .thank-you-pop {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

        .thank-you-pop img {
            width: 76px;
            height: auto;
            margin: 0 auto;
            display: block;
            margin-bottom: 25px;
        }

        .thank-you-pop h1 {
            font-size: 42px;
            margin-bottom: 25px;
            color: #5C5C5C;
        }

        .thank-you-pop p {
            font-size: 20px;
            margin-bottom: 27px;
            color: #5C5C5C;
        }

        .thank-you-pop h3.cupon-pop {
            font-size: 25px;
            margin-bottom: 40px;
            color: #222;
            display: inline-block;
            text-align: center;
            padding: 10px 20px;
            border: 2px dashed #222;
            clear: both;
            font-weight: normal;
        }

            .thank-you-pop h3.cupon-pop span {
                color: #03A9F4;
            }

        .thank-you-pop a {
            display: inline-block;
            margin: 0 auto;
            padding: 9px 20px;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            background-color: #8BC34A;
            border-radius: 17px;
        }

            .thank-you-pop a i {
                margin-right: 5px;
                color: #fff;
            }

    #ignismyModal .modal-header {
        border: 0px;
    }
    /*--thank you pop ends here--*/
</style>
<h2>Створення заявки</h2>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/redmond/jquery-ui.css" rel="stylesheet" />

@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">

        $(function () {
            $('.datepicker1').datepicker({
                dateFormat: 'dd.mm.yy',
                maxDate: "-18y",
                minDate: "-75y"
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('.datepicker2').datepicker({
                dateFormat: 'dd.mm.yy',
                maxDate: "-1d",
                minDate: "-30y"
            });
        });
    </script>

    <script>
        document.getElementById("Order_Amount").value = localStorage.getItem("amountValue");

        document.querySelectorAll('.close').forEach(el => el.addEventListener('click', () => {
            document.querySelector('.modal').classList.remove('d-block');
            window.location.href = '/';
        }));
    </script>
}


@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-5 form-content-center">
          @Html.ValidationSummary(true, "Усі поля обов'язкові.", new { @class = "text-danger" })
            <div class="form-group row">
                <label for="Amount" class="col-md-4">Сума кредиту</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.Amount, new { @class = "form-control", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Order.Amount)
                </div>

            </div>
            <div class="form-group row">
                <label for="Order.LoanId" class="col-md-4">Кредит</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(x => x.Order.LoanId, new SelectList(Model.Loan, "Id", "Name"), "Оберіть кредит", new { @class = "form-control", placeholder = "Оберіть період" })
                    @Html.ValidationMessageFor(x => x.Order.LoanId)
                </div>

            </div>
            <div class="form-group row">
                <label for="LastName" class="col-md-4">Прізвище</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.LastName, new { @class = "form-control", placeholder = "Прізвище" })
                    @Html.ValidationMessageFor(x => x.Order.LastName)
                </div>
            </div>
            <div class="form-group row">
                <label for="FirstName" class="col-md-4">Ім'я</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.FirstName, new { @class = "form-control", placeholder = "Ім'я" })
                    @Html.ValidationMessageFor(x => x.Order.FirstName)
                </div>
            </div>
            <div class="form-group row">
                <label for="FathersName" class="col-md-4">По-батькові</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.FathersName, new { @class = "form-control", placeholder = "По-батькові" })
                    @Html.ValidationMessageFor(x => x.Order.FathersName)
                </div>
            </div>
            <div class="form-group row">
                <label for="DateOfBirth" class="col-md-4">День народження</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.DateOfBirth, "{0:dd.mm.yyyy}", new { @class = "form-control datepicker1", placeholder = "Введіть дату народження" })
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-md-4">E-mail</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.Email, new { @class = "form-control", placeholder = "E-mail" })
                    @Html.ValidationMessageFor(x => x.Order.Email)
                </div>

            </div>
            <div class="form-group row">
                <label for="PhoneNumber" class="col-md-4">Мобільний номер</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.PhoneNumber, new { @class = "form-control", placeholder = "(0xx)-xxx-xx-xx" })
                    @Html.ValidationMessageFor(x => x.Order.PhoneNumber)
                </div>

            </div>
            <div class="form-group row">
                <label for="INN" class="col-md-4">Ідентифікаційний код</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.INN, new { @class = "form-control", placeholder = "Вкажіть ідентифікаційний код" })
                    @Html.ValidationMessageFor(x => x.Order.INN)
                </div>

            </div>
            <div class="form-group row">
                <label for="CardNumber" class="col-md-4">Номер картки</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.CardNumber, new { @class = "form-control", placeholder = "Вкажіть номер банківської картки" })
                    @Html.ValidationMessageFor(x => x.Order.CardNumber)
                </div>

            </div>
            <div class="form-group row">
                <label for="PassportNumber" class="col-md-4">Серія та номер паспорта</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.PassportNumber, new { @class = "form-control", placeholder = "Серія та номер паспорта" })
                    @Html.ValidationMessageFor(x => x.Order.PassportNumber)
                </div>

            </div>
            <div class="form-group row">
                <label for="PassportGivenByWhom" class="col-md-4">Ким виданий паспорт</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.PassportGivenByWhom, new { @class = "form-control", placeholder = "Ким виданий паспорт" })
                    @Html.ValidationMessageFor(x => x.Order.PassportGivenByWhom)
                </div>

            </div>
            <div class="form-group row">
                <label for="PassportGivenDate" class="col-md-4">Дата видачі паспорта</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.Order.PassportGivenDate, "{0:dd.mm.yyyy}", new { @class = "form-control datepicker2", placeholder = "Оберіть дату видачі паспорту" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">Завантажити фото Паспорта</div>
                <div class="col-md-8">
                    <input type="file" name="uploadPassportImage" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">Завантажити Ідентифікаційний код</div>
                <div class="col-md-8">
                    <input type="file" name="uploadINNImage" />
                </div>
            </div>

            @Html.HiddenFor(x => x.Order.OrderStatus, new { @Value = "Очікує підтвердження" })
            @Html.HiddenFor(x => x.Order.CreationDate, new { @Value = DateTime.Now.ToShortDateString() })
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Створити заявку</button>
        </div>
    </div>
        <div>
            @if (Model.Order.IsSaved == true)
            {
                <div class="container">
                    <div class="row">
                        <div class="modal d-block" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                                    </div>

                                    <div class="modal-body">

                                        <div class="thank-you-pop">
                                            <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                                            <h1>Дякуємо!</h1>
                                            <p>Вашу заявку прийнято до обробки! Незабаром вам зателефонують!</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
