@model CreditMarket.ViewModels.OrderFormViewModel
     @{   /**/

        ViewBag.Title = "Перегляд заявки";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Перегляд заявки</h2>
    @using (Html.BeginForm("Details", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <form>
            <div class="form-group">
                <label for="Amount">Сума кредиту</label>
                @Html.TextBoxFor(x => x.Order.Amount, new { @class = "form-control", @readonly = "readonly" })

            </div>
            <div class="form-group">
                <label for="LoanId">Кредит номер</label>
                @Html.TextBoxFor(x => x.Order.LoanId, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="LastName">Прізвище</label>
                @Html.TextBoxFor(x => x.Order.LastName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="FirstName">Ім'я</label>
                @Html.TextBoxFor(x => x.Order.FirstName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="FathersName">По-батькові</label>
                @Html.TextBoxFor(x => x.Order.FathersName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="Date OfBirth">День народження</label>
                @Html.TextBoxFor(x => x.Order.DateOfBirth, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker1", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="Email">E-mail</label>
                @Html.TextBoxFor(x => x.Order.Email, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Мобільний номер</label>
                @Html.TextBoxFor(x => x.Order.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="INN">ІНН</label>
                @Html.TextBoxFor(x => x.Order.INN, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="PassportNumber">Серія та номер паспорта</label>
                @Html.TextBoxFor(x => x.Order.PassportNumber, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="PassportGivenByWhom">Ким виданий паспорт</label>
                @Html.TextBoxFor(x => x.Order.PassportGivenByWhom, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label for="PassportGivenDate">Коли виданий паспорт</label>
                @Html.TextBoxFor(x => x.Order.PassportGivenDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker2", @readonly = "readonly" })
            </div>

            <div>
                @if (Model.Order.PassportImages == null)
                {
                    <div class="form-group">
                        <div class="editor-label">Фото паспорта: </div>
                        <div class="form-control-static"> Відсутнє фото </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="editor-label">Фото паспорта: </div>
                        @Html.Raw("<img style='width:250px; height:125px;' src=\"data:image/jpeg;base64,"
                                              + Convert.ToBase64String(Model.Order.PassportImages) + "\" />")
                        @Html.Hidden("PassportImages", Model.Order.PassportImages)
                    </div>
                }
            </div>

            <br>

            <div>
                @if (Model.Order.INNImages == null)
                {
                    <div class="form-group">
                        <div class="editor-label">Фото ідентифікакційного кода:</div>
                        <div class="form-control-static"> Відсутнє фото </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="editor-label">Фото ідентифікаційного кода: </div>
                        @Html.Raw("<img style='width:250px; height:125px;' src=\"data:image/jpeg;base64,"
                                                  + Convert.ToBase64String(Model.Order.INNImages) + "\" />")
                        @Html.Hidden("PassportImages", Model.Order.PassportImages)
                    </div>
                }
            </div>

            @Html.HiddenFor(x => x.Order.Id)
            @Html.AntiForgeryToken()
            <br>
            <input type="button" value="Скасувати" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Orders")';" />
        </form>
    }


@section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
}


