@model CreditMarket.Models.Order
@{
    /**/

    ViewBag.Title = "Редагування заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редагування заявки</h2>
@using (Html.BeginForm("Edit", "Orders"))
{
    <p class="alert alert-info">Усі поля обов'язкові.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Amount">Сума кредиту</label>
        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Amount)
    </div>
    <div class="form-group">
        <label for="Order.LoanId">Кредит</label>
        @Html.DropDownListFor(x => x.Order.LoanId, new SelectList(Model.Loan, "Id", "Name"), "Select Loan", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Order.LoanId)
    </div>
    <div class="form-group">
        <label for="LastName">Прізвище</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="FirstName">Ім'я</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
    <div class="form-group">
        <label for="FathersName">По-батькові</label>
        @Html.TextBoxFor(x => x.FathersName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FathersName)
    </div>
    <div class="form-group">
        <label for="Date OfBirth">День народження</label>
        @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control", placeholder = "eg 01-01-2000" })
        @Html.ValidationMessageFor(x => x.DateOfBirth)
    </div>
    <div class="form-group">
        <label for="Email">E-mail</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Мобільний номер</label>
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>
    <div class="form-group">
        <label for="INN">ІНН</label>
        @Html.TextBoxFor(x => x.INN, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.INN)
    </div>
    <div class="form-group">
        <label for="PassportNumber">Серія та номер паспорта</label>
        @Html.TextBoxFor(x => x.PassportNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PassportNumber)
    </div>
    <div class="form-group">
        <label for="PassportGivenByWhom">Ким виданий паспорт</label>
        @Html.TextBoxFor(x => x.PassportGivenByWhom, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PassportGivenByWhom)
    </div>
    <div class="form-group">
        <label for="PassportGivenDate">Коли виданий паспорт</label>
        @Html.TextBoxFor(x => x.PassportGivenDate, new { @class = "form-control", placeholder = "eg 01-01-2000" })
        @Html.ValidationMessageFor(x => x.PassportGivenDate)
    </div>
    <div class="form-group">
        <label for="PassportImages">Копія паспорту</label>
        @Html.TextBoxFor(x => x.PassportImages, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="INNImages">Копія ІНН</label>
        @Html.TextBoxFor(x => x.INNImages, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Створити заявку</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
