@model CreditMarket.ViewModels.LoanFormViewModel
@{
    ViewBag.Title = "Редагування кредиту";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редагування кредиту</h2>

@using (Html.BeginForm("Edit", "Loans"))
{
    @Html.ValidationSummary(true, "Усі поля обов'язкові.")
    <div class="form-group">
        <label for="Name">Назва кредиту</label>
        @Html.TextBoxFor(l => l.Loan.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(l => l.Loan.Name)
    </div>
    <div class="form-group">
        <label for="Period">Термін кредиту</label>
        @Html.TextBoxFor(l => l.Loan.Period, new { @class = "form-control" })
        @Html.ValidationMessageFor(l => l.Loan.Period)
    </div>
    <div class="form-group">
        <label for="Procent">Процентна ставка</label>
        @Html.TextBoxFor(l => l.Loan.Procent, new { @class = "form-control" })
        @Html.ValidationMessageFor(l => l.Loan.Procent)
    </div>
    @Html.HiddenFor(l => l.Loan.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Зберегти</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
